/* You can add global styles to this file, and also import other style files */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

.min-height-100vh {
    min-height: 100vh;
}

.main-content {
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 74px !important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 74px;
    color: white;
    background-color: black;
}